/* Ensure to include other styles from your current complaints.css file as well */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, textarea, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav.navBar {
    background-color: #343a40ad;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav.navBar ul {
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

nav.navBar ul li {
    margin: 0 1rem;
    text-decoration: none;
}

.navBar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.navBar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 100px;
}

.label-container, .response-container {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    cursor: auto;
}

textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

button {
    display: inline-block;
    background-color: #6c63ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5848c2;
}

button:active {
    background-color: #4839a3;
}

textarea, select {
    width: 100%;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

#logout {
    background-color: #f44336; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 93%;
}

#logout:hover {
    background-color: #d32f2f;
}
