body {
    background: linear-gradient(to right, #e69186, #e7add6);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px);
}

form input:focus,
form textarea:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.3);
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6a11cb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2575fc;
}

form a {
    margin-top: 15px;
    display: inline-block;
    color: #2575fc;
    text-decoration: none;
    font-size: 14px;
}

form a:hover {
    text-decoration: underline;
}
